# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# =========================
# Ambientes virtuais
# =========================
venv/
.venv/
env/
ENV/

# =========================
# Django
# =========================
db.sqlite3
*.sqlite3
*.log

# =========================
# Variáveis de ambiente
# =========================
.env

# =========================
# IDE / Editor
# =========================
.vscode/
.idea/

# =========================
# Sistema operacional
# =========================
.DS_Store
Thumbs.db

# =========================
# Arquivos temporários
# =========================
*.tmp
*.temp
*.swp